<h1>login</h1>
<%= form_tag sessions_path do %>
  <% if flash[:error] %>
      <div class="alert alert-error">
	  <%= flash[:error] %> 
      </div>
  <% end %>
  <div class="field">
	    <%= label_tag "Username" %>
	    <%= text_field_tag :username, params[:username] %>
	</div>
	<div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
	</div>
	<div class="form-actions">
	    <%= submit_tag "Login",:class =>"btn btn-primary" %>
	</div>
<% end %>
