<!DOCTYPE html>
<html>
<head>
  <title>Osce</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/home/index">ANASAYFA</a>
      <ul class="nav pull-right">
        <% if session[:user_id] %>
          <li>Hoşgeldiniz Sayin <%= session[:username]%> | <%= session[:user_id] %> </li>
          <li> <%= link_to "Çıkış Yap",logout_path %>
        <% end %>
      <ul>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>
<footer>
<hr>
Aşkın Gedik
</footer>
</div>
</body>
</html>
